.board {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: #2a3040;
  border: 1px solid #2a3040;
  padding: 2px;
  border-radius: 0 0 4px 4px;
}

.row {
  display: flex;
  gap: 2px;
}
